h1 {
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
} 

.description {
font-style: italic;
font-weight: 200;
text-align: center;
}

.form-group {
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
}

.form-control {

}